.paginator {
    cursor: default;
    position: fixed;
    margin: 0px 0px 0px 280px;
}

.selectedPage {
    font-weight: bold;
    background-color: transparent;
    font-size: 25px;
}


.selectedPage:hover {
    color: cadetblue;
    border-color: currentColor;
    font-weight: bold;
    font-size: 22px;
}

.pageNumber {
    float: left;
    line-height: 120px;
    margin: 5px;
    border-radius: 20px;
    color: gray;
    font-size: 20px;
}

.rightButton {
    position: fixed;
    margin: 48px 10px;
    background-color: transparent;
    border: 1px solid white;
}
.leftButton {
    position: absolute;
    left: 42%;
    margin: 48px -180px;
    background-color: transparent;
    border: 1px solid white;
}
